<ul class="navigation">
  <li><%= link_to 'Регистрация', '/docs/signup' %></li>
  <li>
    Фрилансерам:
    <ul class="sub-navigation">
      <li><%= link_to 'добавление проектов', '/docs/freelancer-adding-projects' %></li>
      <li><%= link_to 'добавление задач / чек-листы', '/docs/freelancer-adding-issues' %></li>
      <li><%= link_to 'учет времени', '/docs/freelancer-timetracking' %></li>
    </ul>
  </li>
  <% if false %>
  <li>
    Командам:
    <ul class="sub-navigation">
      <li>добавление организации</li>
      <li>добавление сотрудников</li>
      <li>добавление проектов</li>
      <li>добавление задач / чек-листы</li>
      <li>учет времени</li>
      <li>поддержка проектов</li>
    </ul>
  </li>
  <li>База знаний</li>
  <% end %>
</ul>
